<!-- <form> -->
<mat-form-field appearance="standard">
    <mat-label>Rouge</mat-label>
    <input matInput placeholder="score">
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>Bleu</mat-label>
    <input matInput placeholder="score">
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>Vert</mat-label>
    <input matInput placeholder="score">
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>Violet</mat-label>
    <input matInput placeholder="score">
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>Jaune</mat-label>
    <input matInput placeholder="score">
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>TOTAL</mat-label>
    <input disabled=true matInput placeholder="Placeholder">
</mat-form-field>
<!-- </form> -->