<mat-form-field appearance="standard">
    <mat-label>lieu n°1</mat-label>
    <input matInput placeholder="score">
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>lieu n°2</mat-label>
    <input matInput placeholder="score">
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>lieu n°3</mat-label>
    <input matInput placeholder="score">
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>lieu n°4</mat-label>
    <input matInput placeholder="score">
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>lieu n°5</mat-label>
    <input matInput placeholder="score">
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>lieu n°6</mat-label>
    <input matInput placeholder="score">
</mat-form-field>

<mat-form-field appearance="standard">
    <mat-label>TOTAL</mat-label>
    <input disabled=true matInput placeholder="Placeholder">
</mat-form-field>