h1 {
    border-bottom: solid;
    border-width: thin;
    padding-bottom: 10px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: fit-content;
    max-width: 95vw;
    overflow: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}
