<mat-form-field appearance="standard">
    <mat-label>Coalition</mat-label>
    <input #coalitionNb type="number" matInput placeholder="nombre d'alliés">
</mat-form-field>
<p>x 3</p>

<mat-form-field appearance="standard">
    <mat-label>SOUS TOTAL</mat-label>
    <input disabled=true matInput placeholder="Placeholder" [value]="coalitionNb.value * 3">
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>TOTAL</mat-label>
    <input disabled=true matInput placeholder="Placeholder" [value]="coalitionNb.value * 3">
</mat-form-field>