

.box {
    padding: 10px;
    position: relative;
    margin: 40px auto;
width: max-content;
    height: 350px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 5px 14px rgba(0,0,0,.5);
  }
  

  