<mat-checkbox class="example-margin">Maitre des perles?</mat-checkbox>
<p>x 5</p>
<mat-form-field appearance="standard">
    <mat-label>SOUS TOTAL</mat-label>
    <input disabled=true matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>TOTAL</mat-label>
    <input disabled=true matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
</mat-form-field>